.ms_bg-navbar{
    background-color: #2C3E50;
}
.ms_bg-avatar{
    background-color: #1ABC9C;
}
.ms_blocco-50{
    background-color: burlywood;
    height: 50px;
    border: 1px solid black;
}
.ms_blocco-200{
    background-color: lawngreen;
    height: 200px;
    width: 300px;
    border: 1px solid black;
}