.ms_bg-navbar{
    background-color: #2C3E50;
}
.ms_bg-green{
    background-color: #1ABC9C;
}
.ms_link-green{
    color: #1ABC9C;
}
/* .ms_blocco-50{
    background-color: burlywood;
    height: 50px;
    border: 1px solid black;
} */
/* .ms_blocco-200{
    background-color: lawngreen;
    height: 200px;
    border: 1px solid black;
} */
.ms_footer_bg{
    background-color:#3A546D;
}
.ms_circle{    
    border-radius: 50%;   
}

.stella:before,
.stella::after {
    display: inline-block;
    content: "";
    border: 2px solid;
    border-radius: 5px;
    width: 4rem;
    margin: 0 1rem;
}